.thumbnail-matched,
.thumbnail-missing {
  display: inline-block;
  width: 60px;
 /* height: 45px; */
  padding: 1px;
  text-align: center;
  background-color: #D3D7D9;
  vertical-align: middle;
  line-height: 0;
  margin-bottom: .5em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumbnail-matched img {
   vertical-align: middle;
   width: 40px; 
}

.file a {
 /* display: table-cell; */
  vertical-align: middle;
  padding-left: 8px;
}

.thumbnail-text-warning {
  display: inline-block;
  vertical-align: middle;
  color: red;
  font-style: italic;
  padding-left: 8px;
  font-size: .9em;
}

.file-icon {
   display: none;
}

.field-item .file {
  display: block;
  margin-bottom: 1em;
}

.file-size {

}