.thumbnail-matched,
.thumbnail-missing {
  display: table-cell;
  width: 60px;
  height: 45px;
  padding: 1px;
  text-align: center;
  background-color: #D3D7D9;
  vertical-align: middle;
  line-height: 0;
  margin-bottom: .5em;
}
.file a {
  display: table-cell;
  vertical-align: middle;
  padding-left: 8px;
}

.thumbnail-text-warning {
  display: table-cell;
  vertical-align: middle;
  color: red;
  font-style: italic;
  padding-left: 8px;
  font-size: .9em;
}

.file-icon {
   display: none;
}

.field-item .file {
  display: block;
  margin-bottom: 1em;
}